body {
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
    background: #f2f4f7;
    color: #333;
    text-align: center;
}

.container {
    margin-top: 120px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #222;
}

p {
    font-size: 1.2rem;
    color: #555;
}

.card {
    background: white;
    padding: 30px;
    width: 70%;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
